@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .nav-list {
    margin-left: 76px;
  }
  .nav-list {
    margin-left: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/hero/Dark-bgdesc1x.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
   
  }
  .section-features {
    padding: 120px 0;
  }
  .features-list-li {
    width: calc((100% - 3 * 24px) / 4);
  }
  .features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
  .features-list-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list-text {
    font-weight: 400;
  }
  .section-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white-background);
    padding-bottom: 120px;
  }
  .work-title {
    color: var(--color-dark);
    text-align: center;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11111;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .work-list-li {
    width: calc((100% - 2 * 24px) / 3);
    background-color: var(--color-white-background);
  }
  .section-team {
    padding: 120px 0;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
  .section-customers {
    padding: 120px 0;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .customers-list-li {
    width: calc((100% - 5 * 24px) / 6);
  }
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
    gap: 0;
    padding-left: 0;
    width: 1158px;
  }
  .footer {
    padding: 100px 0;
  }
  .social-footer {
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-subscribe-form {
    gap: 16px;
  }
  .section-portfolio-buttons {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .buttons-list {
    margin-bottom: 72px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-list-li {
    width: calc((100% - 2 * 24px) / 3);
  }
  .button-list-li {
    width: calc((100% - 4 * 24px) / 5);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/hero/Dark-bgdesc2x.jpg);
  }
  
}