  @media screen and (min-width: 1158px) {
      .container {
          max-width: 1158px;
          padding: 0 15px;
      }
      .section-features{
        padding: 120px 0;
      }
 .features-list-li {
     width: calc((100% - 3 * 24px) / 4);
 }
 .features-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--color-accent);
     border-radius: 4px;
     width: 264px;
     height: 112px;
     margin-bottom: 8px;
 }
 .features-list-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
 }
 .features-list-text{
    font-weight: 400;
 }
 .section-team{
    padding: 120px 0;
 }
  }
 