@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  header .container {
    margin: 0 auto;
    padding: 0 16px;
  }
  .link-logo {
    margin-right: 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin-left: 120px;
  }
  .nav-list-link {
    position: relative;
    color: var(--color-dark);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
  }
  .nav-list-link:hover,
  .nav-list-link:focus {
    color: var(--color-pressed-states);
    transition: var(--trans);
  }
  .current {
    color: var(--color-pressed-states);
  }
  .nav-list-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
  }
  .nav-list-link.current::after {
    background-color: var(--color-pressed-states);
  }
  .nav-list {
    gap: 40px;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  .contacts-list-link {
    color: var(--color-text);
    font-family: inherit;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.48px;
  }
  .contacts-list-link:hover,
  .contacts-list-link:focus {
    color: var(--color-pressed-states);
    transition: var(--trans);
  }
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/hero/Dark-bgtab1x.jpg);
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 1.12px;
    margin-bottom: 36px;
  }
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-list-li {
    width: calc((100% - 24px) / 2);
  }
  .features-list-title {
    text-align: left;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-list-li {
    width: calc((100% - 2 * 24px) / 3);
  }
  .customers-list-icons {
    width: 104px;
  }
  .customers-list-link {
    width: 168px;
  }
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px 24px;
    width: 584px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .text-social-footer {
    text-align: left;
  }
  .footer-subscribe-form {
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
  }
  .subscribe-label {
    align-items: flex-start;
  }
  .e-mail-input {
    width: 264px;
  }
  .section-portfolio-buttons {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-li {
    width: calc((100% - 24px) / 2);
  }
  .buttons-list {
    justify-content: center;
    margin-bottom: 64px;
  }
  .button-list-li {
    width: calc((100% - 4 * 24px) / 5);
  }
}
@media screen and (min-resolution: 192dpi) and  (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/hero/Dark-bgtab2x.jpg);
  }
}
